.listaAlunos{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imagem{
    height: 160px;
    max-height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 75%;
    border: 2.5px inset rgb(157, 201, 201);
}

.carometro{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 20px;
    
}

.card{
    border: 1px black;
    box-shadow: 0 7px 25px rgb(0, 0, 0);
    background-color: rgb(193, 246, 246);
    text-align: center;
}
